<% include head %>

<div id="auteur_article"> 
	<img class="auteur" src="/images/<%= article.auteur.photo %>"/>
	<h1><%= article.auteur.nom %></h1>
	<h2><%= article.auteur.titre %></h2>
</div>

<div>
	<div class="article" id="article 1">
		<img class="image_article" src="/images/image_article2.jpg" />

		<div id="article_partage">
			<a href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURI(uri) %>&t=<%= encodeURI(article.titre) %>"><img src="/images/article_fb.png"/>&nbsp;Partager</a>
			<a href="https://twitter.com/share?url=<%= encodeURI(uri) %>&text=<%= encodeURI(article.titre) %>"><img src="/images/article_twitter.png"/>&nbsp;Twitter</a>
			<a href="https://plus.google.com/share?url=<%= encodeURI(uri) %>"><img src="/images/article_g+.png"/>&nbsp;Recommander</a>
		</div>

		<h1 class="titre_article"><%= article.titre %></h1>
		<h2> Publié le <%= article.date %> à <%= article.heure %></h2>

		<p><%= article.complet %></p>
	</div>    
</div>

<% include foot %>