<a href="/articles/<%= code %>"><img class="image_article" src="/articles/<%= code %>/image" /></a>
<div class="texte_article">
	<h1 class="titre_article"><%= titre %></h1>
	<h2>Publié le <%= creation %></h2>
	<% if(typeof ss_titre != 'undefined') { %><h3><%= ss_titre %></h3><% } %>
	<p><%= texte %></p>
</div>
<div class="lire_la_suite"><a href="/articles/<%= code %>"><h1>Lire la suite</h1><img src="/style/images/lire_la_suite.png"></a></div>