<% include head.ejs %>

<aside id="article_aside">
	<div id="auteur"></div>
	<% include share.ejs %>
</aside>

<article>
	<img class="image_article" src="/articles/<%= article.code %>/image" />

	<h1 class="titre_article"><%= article.titre %></h1>
	<h2> Publié le <%= article.creation %></h2>

	<p><%- article.texte %></p>
</article>

<script>
	$(function() {
		$.get("/profils/<%= article.auteur %>/widget", function( data ) {
			$('#auteur').html(data);
		});

		$(window).scroll(function() {
			$('#article_aside').css('top', $(this).scrollTop());
		});
	})
</script>

<% include foot.ejs %>