<!DOCTYPE html>
<html>
    <head>
        <title>
            Action Française
            <% if(typeof pageSubtitle != "undefined") { %> <%= " - " + pageSubtitle %> <% } %>
        </title>
        <% include css %>
        <meta charset="utf-8">
		<link rel="icon" type="/image/png" href="/css/images/favicon.png" />
        <script src="/files/jquery.min.js"></script>
    </head>
    <body>
        <% if(typeof toaster != 'undefined') { %>
            <div id="toaster" style="background-color: <%= toaster.color %>;"><%= toaster.html %></div>
            <script>$('#toaster').fadeOut(<%= toaster.duration * 1000 %>);</script>
        <% } %>
        <header class='entete' height='170px'>
            <h1><a href="/"><img name="logo" id="logo" alt="Action Française" src="/css/images/logo.png" ></a></h1>

            <div id="reseaux_sociaux">
                <a id="FB" href="/facebook"><img  src="/css/images/facebook.png" /></a>
                <a id="twitter" href="/twitter"><img  src="/css/images/twitter.png" /></a>
                <a id="youtube" href="/youtube"><img  src="/css/images/youtube.png" /></a>
                <div id="rss_button" onclick="rss();"><img  src="/css/images/rss.png" /></div>
                
                <form id="recherche" method="POST" action="/recherche">
                    <img src="/css/images/recherche.png"/>
                    <div id="recherche_focus"><input class="recherche" type="text" name="recherche" placeholder=" Tapez votre recherche" onkeypress="if (event.keyCode == 13) $('#recherche').submit();" /></div>
                </form>
            </div>

            <script>
                function rss() {
                    $.get('/rss', function(data, success, xhr) {
                        $('#lightbox').html(data).css({
                            'display' : 'block',
                            'width': '250px',
                            'height': '250px'
                        });

                        $('#lightbox_fog').css({
                            'display' : 'block'
                        });

                        $('#lightbox_fog').click(function() {
                            $('#lightbox').html('').css({
                                'display' : 'none'
                            });
                            $('#lightbox_fog').css({
                                'display' : 'none'
                            });
                        })
                    })
                }
            </script>

            <div id="menu_top">
                <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/manifeste">Manifeste</a></li>
                    <li><a href="/militez">Militez!</a></li>
                    <li><a href="/organigramme">Organigramme</a></li>
                    <li><a href="/medias">Médias</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                </nav>
            </div>
        </header>
        <div id="lightbox"></div>
        <div id="lightbox_fog"></div>
        <div id="corps">
            <section>
                <div id="titre"><h1><% if(typeof pageSubtitle != "undefined") { %> <%= pageSubtitle %> <% } %></h1></div>