<% include head %>

<% if(tuiles) { %><% include militez_tuiles %><% } %>

<!--<div class="titre"><h1>L'Action Française près de chez vous</h1></div>-->

<div class="carte">
	<img id="fond" src="/images/carte/map.png" />
	<% sections.forEach(function(section) { %>
		<img id="blason_<%= section.id %>" class="blason" src="/images/carte/<%= section.image %>" 
		style="bottom: <%= section.position.y %>px; left: <%= section.position.x %>px; z-index: <%= 1000 - section.position.y %>"
		onClick="drawSection('<%= section.id %>')"/>
	<% }); %>
</div>

<div id="carte_aside">
	<div id="navigation_rapide">
		<h2>NAVIGATION RAPIDE</h2>
        <select id="liste_sections" onChange="drawSection(this.value)">
        <% sections.forEach(function(section) { %>
        	<option name="<%= section.id %>" value="<%= section.id %>"><%= section.court %></option>
        <% }); %>
		</select>
	</div>
	<div id="details">
	</div>
</div>
<a href="/militez/creer"><button id="creermasection" type="button">Créer ma section</button></a>

<script>
	var current = null;

	function drawSection(id) {
		if(current && id == current.id) return;
		current = findSection(id);

		var index = $("#liste_sections > option[name='" + id + "']")[0].index;
		document.getElementById("liste_sections").selectedIndex = index;

		var details = document.getElementById("details");
		details.innerHTML =
			'<img class="blason_description" src="/images/carte/' + current.image + '" />' +
			'<h1>' + current.complet + '</h1>' +
			'<p>' + current.texte + '</p>' +
			'<div id="suivre_section">' +
				'<a href="http://facebook.com/' + current.facebook + '"><img src="/css/images/icone_fb.png"></a>' +
				'<a href="/contact/' + current.contact + '"><img src="/css/images/icone_mail.png"></a>' +
			'</div>';

		$("img.blason").removeClass("active");
		$("#blason_" + current.id).addClass("active");
	}

	function findSection(id) {
		var output = sections[0]
		sections.forEach(function(section) {
			if(section.id == id) output = section;
		});
		return output;
	}

	var sections = [
		<% sections.forEach(function(section) { %>
			{
				id: '<%= section.id %>',
				complet: '<%= section.complet %>',
				image: '<%= section.image %>',
				texte: '<%= section.texte %>',
				facebook: '<%= section.facebook %>',
				contact: '<%= section.contact %>'
			},
		<%}); %>
	];

	$(function() { drawSection(sections[0].id); });
</script>

<% include foot %>