<% include head %>

<%= JSON.stringify(action) %>

<% 
var base_addr = '/militez/actions/';
var previous = action.previous;
var next = action.next;
%>

<% include militez_tuiles %>

<div id="evenements">
	<% if(previous) { %>
		<a href="<%= base_addr + previous.code %>">
			<div class="button"><span><%= previous.nom %></span></div>
		</a>
	<% } %>

	<div id="evenement">
		<div class="img_container"><img class="image_evenement" src="/actions/<%= action.code %>/affiche" /></div>

		<div class="titres">
			<h1><%= action.type %></h1>
			<h2><%= action.nom %></h2>

			<% if(action.editions) { %><div id="edition">
				<% if(action.editions.precedente) { %>
					<a href="<%= base_addr + action.editions.precedente.code_action %>"><%= action.editions.precedente.nom_edition %></a>
				<% } %>

				<h3><%= action.editions.actuelle %></h3>

				<% if(action.editions.suivante) { %>
					<a href="<%= base_addr + action.editions.suivante.code_action %>"><%= action.editions.suivante.nom_edition %></a>
				<% } %>
			</div><% } %>
		</div>

		<article><%- action.description %></article>

		<div id="photos_container">
			<div class="ss_titre"><h3>Photos</h3></div>
			<div id="photos" class="viewer_elements"></div>
		</div>

	</div>

	<% if(next) { %>
		<a href="<%= base_addr + next.code %>">
			<div class="button"><span><%= next.nom %></span></div>
		</a>
	<% } %>

</div>

<% include viewer %>
	
<script>
	$(function() {
		document.getElementById('evenement').scrollIntoView(true);
		
		$.get('/actions/<%= action.code %>/photos', function(response) {
			if(response.length == 0) $("#photos_container").remove();
			else response.forEach(function(photo) {
				photo = photo.substr(0, photo.length - 4);
				$("#photos").append('<img src="/actions/<%= action.code %>/' + photo + '" />');
			});
		}).fail(function() {
			$("#photos_container").remove();
		});
	})

	$(window).scroll(function() {
		var scroll = $(this).scrollTop() - $('#militez').height() - 150;
		$('#evenements div.button').css('top', scroll < 5 ? 5 : scroll);
	});
</script>

<% include foot %>