<% include head.ejs %>

<div id="profil">
	<div>
		<img class="image_auteur" src="/profils/<%= data.code %>/photo" />
		<h1><%= data.nom %></h1>
		<h2><%= data.titre %></h2>
		<% if(data.contactable) { %>
			<a href="/contact/profil/<%= data.code %>"><div>Contactez <%= data.nom %></div></a>
		<% } %>
	</div>
	<% if(data.biographie.length > 0) { %>
		<div><p><%= data.biographie %></p></div>
	<% } %>
	<div>
		<div id="textes"><h3>Textes publiés</h3></div>
		<div id="roles"><h3>Rôles tenus</h3></div>
	</div>
</div>

<script>
	$.get("/profils/<%= data.code %>/textes", function(data) {
		if(data.length == 0) {
			$("#textes").append('<span>L\'auteur n\'a publié aucun texte</span>');
			return;
		}

		data.forEach(function(texte) {
			$("#textes").append('<div class="' + texte.type + '" data-code="' + texte.code + '"></div>');
		});

		$("#textes').find('.article').each(function() {
			var code = this.dataset.code;
			var element = $(this);
			$.get('/articles/' + code + '/resume', function(data) {
				element.append(data);
			}).error(function() {
				element.remove();
			});
		});

		$("#textes").find(".grand_texte").each(function() {
			var code = this.dataset.code;
			$.get('/textes/' + code + '/resume', function(data) {
				$(this).append(data);
			}).error(function() {
				element.remove();
			});
		});
	});

	$.get("/profils/<%= data.code %>/roles", function(data) {
		if(data.length == 0) {
			$("#roles").remove();
			return;
		}

		data.forEach(function(code_role) {
			$("#roles").append('<div class="role" data-code="' + code_role + '"></div>');
		});

		$(".role").each(function() {
			$.get('/roles/' + role + '/widget', function(data) {
				$(this).append(data);
			});
		});
	});
</script>

<% include foot.ejs %>