<div class="article">
	<a href="/article/<%= article.id %>"><img class="image_article" src="/images/<%= article.image %>" /></a>
	<div id="texte_article">
		<h1 class="titre_article"><%= article.titre %></h1>
		<h2>Publié le <%= article.date %> à <%= article.heure %></h2>
		<% if(typeof article.sous_titre != 'undefined') { %><h3><%= article.sous_titre %></h3><% } %>
		<p><%- article.resume %></p>
	</div>
	<div id="lire_la_suite"><a href="/article/<%= article.id %>"><h1>Lire la suite</h1><img src="images/lire_la_suite.png"></a></div>
</div>